In [244]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import sqlite3
import seaborn as sns
%matplotlib inline

master_df = pd.read_pickle('movie_master_dataset.pkl')
master_df['ROI']=(round(master_df['ROI'], 2))
master_df.describe()

,production_budget,domestic_gross,worldwide_gross,worldwide_profit,ROI
count,1.506000e+04,1.506000e+04,1.506000e+04,1.506000e+04,15060.000000
mean,4.487625e+07,5.626658e+07,1.410753e+08,9.619909e+07,2.667392
std,5.605332e+07,8.478568e+07,2.341220e+08,1.932956e+08,12.026128
min,1.500000e+04,0.000000e+00,0.000000e+00,-2.002376e+08,-1.000000
25%,8.000000e+06,3.088571e+06,7.879319e+06,-8.989470e+05,-0.300000
50%,2.400000e+07,2.756956e+07,5.169536e+07,2.265186e+07,1.090000
75%,5.750000e+07,6.736324e+07,1.587508e+08,1.057634e+08,2.980000
max,4.106000e+08,7.000596e+08,2.048134e+09,1.748134e+09,415.560000

In [245]:
budget_10mil_df = master_df.loc[master_df['production_budget'] > 10000000]
budget_10mil_df

,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_profit,ROI,person_name,movie_role,Action,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Johnny Depp,actor,True,...,False,False,False,False,False,False,False,False,False,False
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Geoffrey Rush,actor,True,...,False,False,False,False,False,False,False,False,False,False
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Pen√©lope Cruz,actress,True,...,False,False,False,False,False,False,False,False,False,False
3,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Stuart Beattie,writer,True,...,False,False,False,False,False,False,False,False,False,False
4,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Ted Elliott,writer,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10359,2010-04-30,Housefull,10100000,1183658,18726300,8626300,0.85,Vibha Singh,writer,False,...,False,False,False,False,False,False,False,False,False,False
10360,2010-04-30,Housefull,10100000,1183658,18726300,8626300,0.85,Riteish Deshmukh,actor,False,...,False,False,False,False,False,False,False,False,False,False
10361,2010-04-30,Housefull,10100000,1183658,18726300,8626300,0.85,Sajid Khan,director,False,...,False,False,False,False,False,False,False,False,False,False
10362,2010-04-30,Housefull,10100000,1183658,18726300,8626300,0.85,Anvita Dutt Guptan,writer,False,...,False,False,False,False,False,False,False,False,False,False
10363,2010-04-30,Housefull,10100000,1183658,18726300,8626300,0.85,Deepika Padukone,actress,False,...,False,False,False,False,False,False,False,False,False,False

In [246]:
budget_10mil_df = budget_10mil_df['movie'].drop_duplicates(keep='last')
budget_10mil_df

9        Pirates of the Caribbean: On Stranger Tides
19                                      Dark Phoenix
29                           Avengers: Age of Ultron
39                            Avengers: Infinity War
49                                    Justice League
                            ...
10323                                            LOL
10333                                     Misconduct
10343                                            Eli
10353                          The Last Days on Mars
10363                                      Housefull
Name: movie, Length: 1018, dtype: object

In [247]:
budget_10mil_df.head()

9     Pirates of the Caribbean: On Stranger Tides
19                                   Dark Phoenix
29                        Avengers: Age of Ultron
39                         Avengers: Infinity War
49                                 Justice League
Name: movie, dtype: object

In [206]:
#options = ['actor', 'actress']
#Actors_50mil_df = budget_50mil_df[budget_50mil_df['movie_role'].isin(options)]
#Actors_50mil_df

,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_profit,ROI,person_name,movie_role,Action,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Johnny Depp,actor,True,...,False,False,False,False,False,False,False,False,False,False
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Geoffrey Rush,actor,True,...,False,False,False,False,False,False,False,False,False,False
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Pen√©lope Cruz,actress,True,...,False,False,False,False,False,False,False,False,False,False
6,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,635063875,1.55,Ian McShane,actor,True,...,False,False,False,False,False,False,False,False,False,False
11,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-200237650,-0.57,Nicholas Hoult,actor,True,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11852,2011-07-15,Salvation Boulevard,5500000,28468,28468,-5471532,-0.99,Greg Kinnear,actor,True,...,False,False,False,False,False,False,False,False,False,False
11859,2011-04-22,Dum Maaro Dum,5200000,564489,11633427,6433427,1.24,Abhishek Bachchan,actor,True,...,False,False,False,False,False,False,False,False,False,False
11860,2011-04-22,Dum Maaro Dum,5200000,564489,11633427,6433427,1.24,Bipasha Basu,actress,True,...,False,False,False,False,False,False,False,False,False,False
11867,2011-04-22,Dum Maaro Dum,5200000,564489,11633427,6433427,1.24,Deepika Padukone,actress,True,...,False,False,False,False,False,False,False,False,False,False
11868,2011-04-22,Dum Maaro Dum,5200000,564489,11633427,6433427,1.24,Rana Daggubati,actor,True,...,False,False,False,False,False,False,False,False,False,False